<div class="card-container">
  <div class="card-header mb-3">TERMS AND CONDITIONS</div>
  <ol>
    <li>
      INTRODUCTION AND ACCEPTANCE
      <ol>
        <li>
          Cb a division of VATit Group S.a.r.l (Registration No. 897 837 886); (“We”, “Us”, “Our”, “citr”) is a company registered in
          accordance with the laws of Luxemburg and provides the information on this website (“Website”), subject to the terms set out
          herein and as may be referenced herein (collectively, the “Terms”) in order to provide you with a breakdown of your potential
          Service/s. “Use” of the Website includes accessing and browsing the Website.
        </li>
        <li>
          We may modify the Terms (“Amended Terms”). Amended Terms will be made available via the Website. By using the Website, You agree
          to the Terms. If You do not agree to the Terms, You must not Use Our Website or related applications.
        </li>
        <li>Each time You use the Website You agree to be bound by the Terms or the Amended Terms, as the case may be.</li>
      </ol>
    </li>
    <li>
      CONTENT YOU PROVIDE
      <ol>
        <li>
          All information submitted by You must be and must remain true, accurate, current, and complete. You shall not misrepresent Your
          identity.
        </li>
        <li>
          By using the Website and related applications, You grant Us the right to use information, data, materials or other content You
          provide to Us to be uploaded via the Website and related applications or which you have provided for the purposes of rendering the
          Services and such other purposes as set out in the Privacy Policy.
        </li>
      </ol>
    </li>
    <li>
      COMMUNICATIONS THAT ORIGINATE FROM YOU
      <div class="unordered-item">
        We may assume that all electronic communications which reasonably appear to originate from You or a person You have told Us is
        authorised to act on Your behalf are in fact from You and the form in which We receive the communication is the same as when it was
        first dispatched.
      </div>
    </li>
    <li>
      TO PROTECT THE INTEGRITY OF THE WEBSITE
      <ol>
        <li>
          You may not:
          <ol>
            <li>
              use any robot, spider, scraper, deep link or other similar automated data gathering or extraction tools, program, algorithm or
              methodology to access, acquire, copy or monitor the Website without Our express written consent;
            </li>
            <li>
              use or attempt to use any engine, software, tool, agent, or other device or mechanism (including, without limitation,
              browsers, spiders, robots, avatars or intelligent agents) to navigate or search the Website and related applications other
              than the search engines and search agents available through the Website and related applications and other than generally
              available third-party web browsers;
            </li>
            <li>
              post or transmit any file which contains viruses, worms, Trojan horses or any other contaminating or destructive features, or
              that otherwise interfere with the proper working of the Website and related applications;
            </li>
            <li>
              attempt to decipher, decompile, disassemble, or reverse-engineer any of the software comprising or in any way making up a part
              of the Website and related applications;
            </li>
            <li>use the Website in a manner that would bring Us, Our business and/or any of Our affiliates into disrepute;</li>
            <li>
              access the Website and related applications for unlawful purposes or use the Website and related applications in a manner
              which infringes Our rights or the rights of any other person or restricts or inhibits the use of or enjoyment of Our computer
              systems by any other person;
            </li>
            <li>
              post or transfer any material to the Website and related applications that is unlawful or violates any third party’s rights or
              which is obscene, misleading, inaccurate, defamatory, illegal, in breach of any copyright or other intellectual property
              right, or damaging to data, software or the performance of Our or any other parties’ computer system.
            </li>
          </ol>
        </li>
        <li>
          We are entitled to remove any information You or your elected third party has submitted via the Website and related applications,
          and/or suspend Your use of any part of the Services at any time without notice to You.
        </li>
      </ol>
    </li>
    <li>
      YOUR PERSONAL INFORMATION
      <div class="unordered-item">We will protect and use Your personal information only in accordance with Our Privacy Policy.</div>
    </li>
    <li>
      INTELLECTUAL PROPERTY
      <ol>
        <li>
          We own or are licensed to use all intellectual property rights in and to all materials, text, drawings, and data (collectively,
          the “Materials”) made available on the Website and related applications. You may not reproduce, distribute, create a derivative,
          sell, broadcast or in any other way exploit of the whole or any part of the Materials.
        </li>
        <li>
          The Website and related applications, and its content may not be reproduced, duplicated, copied, resold, visited or otherwise
          exploited for any commercial purpose without Our express prior written consent.
        </li>
        <li>
          We own or are licensed to use the trademarks, names, logos and service marks (collectively, the “Trademarks”) displayed on the
          Website and related applications, whether registered or unregistered. You must obtain Our prior written permission should You want
          to use any of the Trademarks.
        </li>
      </ol>
    </li>
    <li>
      EXTERNAL LINKS
      <div class="unordered-item">
        External links may be provided for Your convenience. We make no representation as to their content and use on any external links is
        at Your own risk. When visiting external links, You must refer to their website’s terms and conditions.
      </div>
    </li>
    <li>
      WARRANTIES
      <div class="unordered-item">
        Although We will always try to ensure the Website and related applications is available, the Website is provided “as is”. We give no
        warranties, representations, statements or guarantees (whether express, implied in law or residual) in this regard.
      </div>
    </li>
    <li>
      YOUR QUERIES AND COMPLAINTS
      <div class="unordered-item">Please email any queries or complaints to confidentialitynotice@cb.co.</div>
    </li>
    <li>
      THE LAW THAT APPLIES TO THE TERMS
      <div class="unordered-item">
        All matters arising from or in connection with the Terms including its interpretation, validity, existence, or termination for any
        reason shall be determined in accordance with the laws of England without giving effect to any principles of conflict of law. We
        both agree that all disputes arising out of or in connection with the Terms shall be finally settled under the Rules of Arbitration
        of the International Chamber of Commerce (the “Rules”) by one or more arbitrators appointed in accordance with the Rules. A single
        arbitrator shall be appointed as provided in the Rules. The place of arbitration shall be in London and the language of the
        arbitration shall be English.
      </div>
    </li>
  </ol>

  <div class="card-header mb-3 mt-5">PRIVACY POLICY</div>
  <ol>
    <li>
      INTRODUCTION
      <ol>
        <li>This privacy policy explains how We protect and use Your Personal Information.</li>
        <li>
          “Personal Information” means any information that is recognised as such in terms of the General Data Protection Regulation and
          includes any information which identifies You, such as Your Registration Information and Login Details.
        </li>
        <li>All definitions contained in the Terms also apply to this privacy policy unless the context indicates otherwise.</li>
      </ol>
    </li>
    <li>
      CONSENT
      <div class="unordered-item">
        By using the Service and/or the Website and related applications, You consent to Our collection, storage, processing, and disclosure
        of Your Personal Information on the basis set out in this Privacy Policy.
      </div>
    </li>
    <li>
      INFORMATION WE COLLECT
      <ol>
        <li>
          In Your Use of the Website and related applications, we may collect and store internationally the following information and
          Personal Information:
          <ol>
            <li>Your entity name, and entity email address</li>
            <li>
              correspondence via the Website and information relating to transactional activity via the Website and related applications;
            </li>
            <li>
              connection information, statistics on page views, traffic to and from the Website and related applications, IP address and
              standard log information;
            </li>
            <li>
              if you elect to use our Service, information in respect of each transaction. Such information includes: the country of origin;
              the date of the transaction; the value; the transaction type; the currency; the billing address; the supplier information (if
              available); scan or image of the invoice; and the details of the transaction.
            </li>
            <li>if you elect to use our Service, we may collect usage information based on Website and related applications.</li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      HOW WE USE PERSONAL INFORMATION
      <ol>
        <li>
          At the outset we would like to give You the comfort that You will always own Your Personal Information and that we do not sell
          Your Personal Information to anyone, for any reason, at any time.
        </li>
        <li>
          We use, disclose, and share Your Personal Information only as follows:
          <ol>
            <li>to provide the Service;</li>
            <li>for marketing purposes;</li>
            <li>to analyse website and service usage and to improve the Services and/or Website and related applications;</li>
            <li>
              to deliver to You any administrative notices, alerts and communications relevant to Your Use of the Website and related
              applications;
            </li>
            <li>
              for market research, project planning, troubleshooting problems, detecting and protecting against error, fraud or other
              criminal activity;
            </li>
            <li>
              by disclosing Your Personal Information to third party service providers appointed by Us in order to enable Us to provide the
              Website and Services to You, and who are bound by these same privacy restrictions;
            </li>
            <li>
              with and to Our other business divisions and other companies within the VATIT group of companies for the purposes of
              supporting the Service and the Website, improving the Services, determining any illegal or fraudulent conduct and violations
              of any group company polices; and/or
            </li>
            <li>as otherwise set out in the Terms.</li>
          </ol>
        </li>
        <li>
          In addition, We may disclose Personal Information to law enforcement, other government officials, or other third parties as We, in
          Our sole discretion, believe necessary or appropriate in connection with an investigation of fraud, intellectual property
          infringements, or other activity that is illegal or may expose Us to legal liability, or in connection with a merger,
          consolidation, or sale of Our assets.
        </li>
      </ol>
    </li>
    <li>
      OPT OUT OR UPDATE
      <ol>
        <li>
          You are entitled to opt out of any disclosure of Your Personal Information to a third party or use of Your Personal Information
          for a purpose incompatible with the purpose for which it was originally collected or subsequently authorized by You by emailing Us
          at optout@cb.co.
        </li>
        <li>
          It is your responsibility to ensure that the Personal Information that You provide while using Our Website and related
          applications is up to date. In the event that you wish to update your Personal Information please e-mail Us at info@cb.co.
        </li>
      </ol>
    </li>
    <li>
      INFORMATION ABOUT OUR USE OF COOKIES
      <ol>
        <li>
          Our Website uses cookies to distinguish You from other users of Our Website and related applications. This helps us to provide You
          with a good experience when You browse Our Website and also allows us to improve Our Website and related applications. [By
          continuing to browse the site, You are agreeing to Our use of cookies.]
        </li>
        <li>
          A cookie is a small file of letters and numbers that we store on Your browser or the hard drive of Your computer if You agree.
          Cookies contain information that is transferred to Your computer’s hard drive.
        </li>
        <li>
          We use the following cookies:
          <ol>
            <li>
              Strictly necessary cookies. These are cookies that are required for the operation of Our Website and related applications.
            </li>
            <li>
              Analytical/performance cookies. They allow us to recognise and count the number of visitors and to see how visitors move
              around Our Website and related applications when they are using it. This helps us to improve the way Our Website and related
              applications work, for example, by ensuring that users are finding what they are looking for easily.
            </li>
            <li>
              Functionality cookies. These are used to recognise You when You return to Our Website and related applications. This enables
              us to personalise Our content for You, greet You by name and remember Your preferences (for example, Your choice of language
              or region).
            </li>
            <li>
              Targeting cookies. These cookies record Your visit to our Website and related applications, the pages You have visited and the
              links You have followed. We will use this information to make Our Website, related applications and the advertising displayed
              on it more relevant to Your interests. We may also share this information with third parties for this purpose.
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      RETENTION PERIOD
      <ol>
        <li>
          We will retain Personal Data which is collected from Our Website and related applications for a period of 26 months, unless you
          opt out in terms of clause 5.
        </li>
      </ol>
    </li>
    <li>
      SECURITY
      <ol>
        <li>
          We take reasonable technical, administrative, and physical steps to protect against unauthorised access to and disclosure of
          Personal Information.
        </li>
        <li>
          We use a combination of firewall barriers, encryption techniques and authentication procedures, among others, to maintain the
          security of Your online session and to protect Our systems from unauthorised access.
        </li>
        <li>Our databases are protected from general personnel access both physically and logically.</li>
      </ol>
    </li>
    <li>
      LINKS TO OTHER WEBSITES
      <div class="unordered-item">
        We may make content from third party websites available to You from links located on the Website. These websites are not subject to
        the Terms. We recommend that You review the Terms of each such website to determine how that website protects Your privacy.
      </div>
    </li>
    <li>
      COMMENTS AND QUESTIONS
      <div class="unordered-item">
        If You have any questions, comments or concerns about the Terms, You may contact Us at confidentialitynotice@cb.co. Copyright in
        the Website Terms and Conditions and Privacy Policy vests in VATIT.
      </div>
    </li>
  </ol>
</div>
