.dialog-container {
  height: 100%;
}

.filter-icon {
  font-size: 24px;
}

.dialog-title {
  font-weight: bold;
}

.filter-button {
  margin-top: 10px;
  width: 100%;
}

.dialog-footer {
  background: #fff;
  padding: 2.5rem;
}
